@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 55% 20%;
    --foreground: 0 0% 100%;
    --card: 206 51% 23%;
    --card-foreground: 0 0% 100%;
    --popover: 206 55% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 203 66% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 63% 47%;
    --secondary-foreground: 0 0% 100%;
    --muted: 206 45% 28%;
    --muted-foreground: 205 30% 75%;
    --accent: 203 66% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 206 45% 28%;
    --input: 206 45% 28%;
    --ring: 203 66% 38%;
    --chart-1: 203 66% 38%;
    --chart-2: 206 55% 20%;
    --chart-3: 203 63% 47%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 206 55% 20%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 203 66% 38%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 206 51% 23%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 206 45% 28%;
    --sidebar-ring: 203 66% 38%;
  }

  .dark {
    --background: 206 55% 20%;
    --foreground: 0 0% 100%;
    --card: 206 51% 23%;
    --card-foreground: 0 0% 100%;
    --popover: 206 55% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 203 66% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 63% 47%;
    --secondary-foreground: 0 0% 100%;
    --muted: 206 45% 28%;
    --muted-foreground: 205 30% 75%;
    --accent: 203 66% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 206 45% 28%;
    --input: 206 45% 28%;
    --ring: 203 66% 38%;
    --chart-1: 203 66% 38%;
    --chart-2: 206 55% 20%;
    --chart-3: 203 63% 47%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 206 55% 20%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 203 66% 38%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 206 51% 23%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 206 45% 28%;
    --sidebar-ring: 203 66% 38%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}